@font-face {
    font-family: 'T3BeFont';
    src: url('/typo3conf/ext/be_fonts/Resources/Public/fonts/SEASRN__-webfont.eot');
    src: url('/typo3conf/ext/be_fonts/Resources/Public/fonts/SEASRN__-webfont.eot?#iefix') format('embedded-opentype'),
         url('/typo3conf/ext/be_fonts/Resources/Public/fonts/SEASRN__-webfont.woff') format('woff'),
         url('/typo3conf/ext/be_fonts/Resources/Public/fonts/SEASRN__-webfont.ttf') format('truetype'),
         url('/typo3conf/ext/be_fonts/Resources/Public/fonts/SEASRN__-webfont.svg#seasrn') format('svg');
}
