@font-face {
    font-family: 'T3BeFont';
    src: url('/typo3conf/ext/be_fonts/Resources/Public/fonts/CaviarDreams-webfont.eot');
    src: url('/typo3conf/ext/be_fonts/Resources/Public/fonts/CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'),
         url('/typo3conf/ext/be_fonts/Resources/Public/fonts/CaviarDreams-webfont.woff') format('woff'),
         url('/typo3conf/ext/be_fonts/Resources/Public/fonts/CaviarDreams-webfont.ttf') format('truetype'),
         url('/typo3conf/ext/be_fonts/Resources/Public/fonts/CaviarDreams-webfont.svg#caviardreams') format('svg');
}
