@font-face {
    font-family: 'T3BeFont';
    src: url('/typo3conf/ext/be_fonts/Resources/Public/fonts/Blokletters-Balpen-webfont.eot');
    src: url('/typo3conf/ext/be_fonts/Resources/Public/fonts/Blokletters-Balpen-webfont.eot?#iefix') format('embedded-opentype'),
         url('/typo3conf/ext/be_fonts/Resources/Public/fonts/Blokletters-Balpen-webfont.woff') format('woff'),
         url('/typo3conf/ext/be_fonts/Resources/Public/fonts/Blokletters-Balpen-webfont.ttf') format('truetype'),
         url('/typo3conf/ext/be_fonts/Resources/Public/fonts/Blokletters-Balpen-webfont.svg#blokletters_balpenbalpen') format('svg');
}
