@font-face {
    font-family: 'T3BeFont';
    src: url('/typo3conf/ext/be_fonts/Resources/Public/fonts/2Dumb-webfont.eot');
    src: url('/typo3conf/ext/be_fonts/Resources/Public/fonts/2Dumb-webfont.eot?#iefix') format('embedded-opentype'),
         url('/typo3conf/ext/be_fonts/Resources/Public/fonts/2Dumb-webfont.woff') format('woff'),
         url('/typo3conf/ext/be_fonts/Resources/Public/fonts/2Dumb-webfont.ttf') format('truetype'),
         url('/typo3conf/ext/be_fonts/Resources/Public/fonts/2Dumb-webfont.svg#2Dumb') format('svg');
}
