/* 7.x and higher */
#typo3-topbar,
#typo3-module-menu,
#typo3-pagetree,
#typo3-pagetree .x-tree-node .x-tree-node-el
{font-size:1.24em;}
body>.module{font-size:1.20em;}
/* 8.x and higher */
.t3js-scaffold-header,
#menu{font-size:1.24em;}

